@tailwind base;
@tailwind components;
@tailwind utilities;

@import './icons/icons.css';



.btn-primary {
  @apply border rounded-full px-4 py-2 font-light text-zinc-200 dark:text-zinc-700 bg-zinc-900 dark:bg-zinc-50 disabled:opacity-20 hover:bg-zinc-50 dark:hover:bg-zinc-900 hover:text-zinc-900 dark:hover:text-zinc-100 tracking-wide uppercase
}


.btn-secondary {
  @apply border-primary rounded-full px-4 py-2 font-light tracking-wide uppercase bg-transparent dark:hover:bg-zinc-50 hover:bg-zinc-900 dark:hover:text-zinc-900 hover:text-zinc-100
}

.text-secondary {
  @apply text-zinc-700 dark:text-zinc-300
}

.border-primary {
  @apply border dark:border-zinc-800
}

.border-y-primary {
  @apply border-y dark:border-zinc-800
}

.border-x-primary {
  @apply border dark:border-zinc-800
}

.border-t-primary {
  @apply border-t dark:border-zinc-800
}

.border-b-primary {
  @apply border-b dark:border-zinc-800
}

.border-r-primary {
  @apply border-r dark:border-zinc-800
}

.border-l-primary {
  @apply border-l dark:border-zinc-800
}


.input-primary {
  @apply border-primary px-4 py-3 bg-transparent rounded-xl
}

.badge {
  @apply text-secondary text-xs py-2 px-3 rounded-full border-primary
}

.scroll-inherit {
  overflow: scroll !important
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-inherit-display {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scroll-inherit-display::-webkit-scrollbar {
  display: none;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}


.scroller {
  height: 100vh;
  max-height: 100%;
  /* width: 100vw; */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroller .scroll-child {
  scroll-snap-align: start;
}

.box-limited::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
}


/* Track */
.box-limited::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.box-limited::-webkit-scrollbar-thumb {
  background: rgba(#666, 0.6);
  border-radius: 3px;
}

/* Handle on hover */
.box-limited::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Aplicando a animação a um elemento com a classe "fade-in" */
.fade-in {
  animation: fadeIn 500ms ease;
}


@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-250px * 6))
  }
}

.slide-track {
  animation: scroll 100s linear infinite;
  display: flex;
  /* height: calc(250px * 14); */
}



.cursor-squad {
  cursor: url('../public/cursor_squad.svg'), auto;
  /* Define a imagem SVG como cursor do mouse */
}

.cursor-show-more {
  cursor: url('../public/cursor_show_more.svg'), auto;
  /* Define a imagem SVG como cursor do mouse */
}


.rotate-content>.rotate-content-item {
  @apply rotate-90 bg-blue-500
}


.rotate-content {
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */
}


.rotate-content-item {
  transform: rotate(90deg);
  /* Aplica a rotação de 0 graus no hover */
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */

}

.rotate-content:hover .rotate-content-item {
  transform: rotate(0deg);
  /* Aplica a rotação de 0 graus no hover */
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */

}


.show-hover {}


.show-hover-item {
  visibility: hidden;

}

.show-hover:hover .show-hover-item {
  visibility: visible;
}


.grid-logo {
  height: 70px;
  width: 70px;
  position: relative;
  @apply bg-zinc-50
}

.squada {
  position: absolute;
  height: 20px;
  width: 20px;
  @apply bg-zinc-900

}
.squada-horizontal {
  right: 0;
  margin-top: 20px
}

.squada-vertical {
  bottom: 0;
  margin-left: 20px;
}

.left-animate {
  animation: ease 0.5s goToLeft;
  margin-right: -20px;
  @apply bg-zinc-50

 
}

.bottom-animate {
  animation: ease 1s down;
  margin-bottom: -20px;
  @apply bg-zinc-50



}

@keyframes down {
  0% {
    margin-bottom: 0; 
  }
  50% {
    margin-bottom: 0; 
  }
  100%  {
    margin-bottom: -20px;
  }
}

@keyframes goToLeft {
  0% {
    margin-right: 0; 
  }
  100%  {
    margin-right: -20px;
  }
}