@tailwind base;
@tailwind components;
@tailwind utilities;

@import './icons/icons.css';



.scroll-inherit {
  overflow: scroll !important
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-inherit-display {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scroll-inherit-display::-webkit-scrollbar {
  display: none;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}


.scroller {
  height: 100vh;
  max-height: 100%;
  /* width: 100vw; */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroller .scroll-child {
  scroll-snap-align: start;
}

.box-limited::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
}


/* Track */
.box-limited::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.box-limited::-webkit-scrollbar-thumb {
  background: rgba(#666, 0.6);
  border-radius: 3px;
}

/* Handle on hover */
.box-limited::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Aplicando a animação a um elemento com a classe "fade-in" */
.fade-in {
  animation: fadeIn 500ms ease;
}


@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-250px * 6))
  }
}

.slide-track {
  animation: scroll 100s linear infinite;
  display: flex;
  /* height: calc(250px * 14); */
}



.cursor-squad {
  cursor: url('../public/cursor_squad.svg'), auto;
  /* Define a imagem SVG como cursor do mouse */
}

.cursor-show-more {
  cursor: url('../public/cursor_show_more.svg'), auto;
  /* Define a imagem SVG como cursor do mouse */
}


.rotate-content>.rotate-content-item {
  @apply -rotate-90 bg-blue-500
}


.rotate-content {
  transition: transform 0.3s ease; /* Adiciona uma transição suave */
}


.rotate-content-item {
  transform: rotate(-90deg); /* Aplica a rotação de 0 graus no hover */
  transition: transform 0.3s ease; /* Adiciona uma transição suave */

}

.rotate-content:hover .rotate-content-item {
  transform: rotate(0deg); /* Aplica a rotação de 0 graus no hover */
  transition: transform 0.3s ease; /* Adiciona uma transição suave */

}